.chatRoom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color:rgba(16,56,87, 0.75);
  }

header {
    background-color: rgba(9,10,10, 0.9);
    height: 10vh;
    min-height: 50px;
    color: white;
    position: fixed;
    width: 100%;
    max-width: 728px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .headerBtns {
    display: flex;
    

  }

.chatRoom--title {
    margin-left: 15px;
    letter-spacing: 3px;
}

main {
    padding: 10px;
    height: 80vh;
    margin: 10vh 0 10vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

    /* -webkit-scrollbar{
        width: 0.25rem;
    }
      
    -webkit-scrollbar-track {
        background: #1e1e24;
    }
      
    -webkit-scrollbar-thumb {
        background: #6649b8;
    } */
      

form {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 728px;
    display: flex;
    margin-bottom: 5px;
    min-height: 50px;
}

input {
   width: 100%;
   padding: 0 20px;
   border: 1px solid black;
   border-radius: 15px; 
}

button {
    background-color: rgb(42,82,110);
    border: 1px solid black;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    font-size: 1.25rem;
    padding: 15px 32px;
}

.signOutBtn {
    font-size: 1rem;
    padding: 5px 5px;
    border-radius: 7px;
    margin-left: 5px;
}

button:focus,
button:hover {
    background-color: rgb(109,147,179);
    color: black;
}


button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

