body {
    background-image: url(./images/pawel-czerwinski-unsplash.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  
  .App {
    text-align: center;
    max-width: 728px;
    margin: 0 auto;
  }